{# templates/default/backoffice.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="h-100 row">
        <aside class="h-100 backOfficePanel col-3">

            <div class="row ps-4">

                <h1 class="ms-4">TRT CONSEIL APP</h1>

                <h2>Bonjour {{user.nom}} {{user.prénom}} !</h2>
                <p><i>voir profil</i></p>

                {% block sectionPanel %}
                {% endblock %}

                {#
                {{ user.userType==1 ? block("candidatpanel", "/default/candidatpanel.twig") : '' }}
                {{ user.userType==2 ? block("recruteurpanel", "/default/recruteurpanel.twig") : '' }}
                {{ user.userType==3 ? block("consultantpanel", "/default/consultantpanel.twig") : '' }}
                {{ user.userType==4 ? block("adminpanel", "/default/adminpanel.twig") : '' }}
                #}

                <div>
                    <a href="/connection">Déconnexion</a>
                </div>

            </div>

            
        </aside>

        <div class="backOfficeMainView col-8 m-5 row">

            {% block sectionMain %}
            {% endblock %}
            
            {#
            {{ user.userType==1 ? block("annonce", "/default/annonce.twig") : '' }}
            {{ user.userType==3 ? block("validationconsultant", "/default/validationconsultant.twig") : '' }}
            #}
            
        </div>

    </div>

{% endblock %}