{# templates/default/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <section class="row align-items-center h-100">

        <div class="col-6 mx-auto form-wrapper">

            <h1 class="mx-auto col-6">TRT CONSEIL APP</h1>

            <div class="{{ errorMessage=='' ? 'd-none' :'error-display-box' }}">
                <p class="p-3"><b>{{errorMessage}}</b><p>
            </div>

            <div class="{{ validationMessage=='' ? 'd-none' :'validate-display-box' }}">
                <p class="p-3"><b>{{validationMessage}}</b><p>
            </div>

            {{ form(form) }}

            <div id="message" class="passCheckerBox">
                <h3>Le password doit contenir :</h3>
                <p id="letter" class="invalid">Une lettre <b>minuscule</b></p>
                <p id="capital" class="invalid">Une lettre <b>majuscule</b></p>
                <p id="number" class="invalid">Un <b>nombre</b></p>
                <p id="length" class="invalid">Minimum <b>6 lettres</b></p>
            </div>

            <div class="row mb-3">
                <div class="ps-5 col-9">
                    <a href="/login"><i>Vous avez déjà un compte ? </i></a>
                </div>

            </div> 
            
        </div>

        </div>

    </section>
    
{% endblock %}