{# templates/default/adminpanel.twig #}
{% extends 'default/backoffice.html.twig' %}

{% block sectionPanel %}

    <p>ADMIN PANEL TEST</p>
    <ul class="ms-5">
        <li>Compléter Profil</li>
        <li>Nouvelle annonce</li>
        <li>Nouveau consultant</li>
        <button id="newConsultantBtnID">Nouveau Consultant</button>
    </ul>

    <div class="{{ errorMessage == '' ? 'd-none' : 'error-display-box' }}">
        <p class="p-3"><b>{{ errorMessage }}</b><p>
    </div>

    <div class="{{ validationMessage == '' ? 'd-none' : 'validate-display-box' }}">
        <p class="p-3"><b>{{ validationMessage }}</b><p>
    </div>

    <div id="newConsultantFormDivID" class="hiddenDiv">
        {{ form(form) }}
    </div>

{% endblock %}