{# templates/default/profilcandidat.twig #}
{% extends 'utilisateur/candidat.twig' %}

{% block sectionMain %}
    <div class="completeProfilFormBox row">
        {{ form_start(form) }}
        {{ form_errors(form) }}


        {{ form_row(form.nom, { "attr": {"placeholder": user.nom} }) }}
        {{ form_row(form.prenom, { "attr": {"placeholder": user.prénom} }) }}
        {{ form_row(form.adresse, { "attr": {"placeholder": user.adresse} }) }}
        {{ form_row(form.email, { 'disabled': true, "attr": {"placeholder": user.email} }) }}
        {{ form_row(form.password, { 'disabled': true, "attr": {"placeholder": "******"} }) }}
        {{ form_row(form.cv, { "attr": {"placeholder": user.cv} }) }}

        {{ form_row(form.submit) }}

        {{ form_end(form) }}

         <div class="{{ errorMessage=='' ? 'd-none' :'error-display-box' }}">
            <p class="p-3"><b>{{errorMessage}}</b><p>
        </div>

        <div class="{{ validationMessage=='' ? 'd-none' :'validate-display-box' }}">
            <p class="p-3"><b>{{validationMessage}}</b><p>
        </div>

        <li class="mb-3"><a href={{ url('backofficeCandidat') }}>Retour page précèdente</a></li>

    </div>
{% endblock %}