{# templates/default/validationcandidaturelist.twig #}
{% extends 'utilisateur/consultant.twig' %}

{% block validation %}
    
    <div class="candidatureListBox row">
        <div>
            <h3>Liste des candidatures à valider.</h3>

            {% for item in candidatures %}
                <div class="row m-1 bg-info rounded">
                    <div class="col-9">
                        <p><b>{{ item.id|e }} {{ item.annonceTitle|e }} {{ item.annonceNomEntreprise|e }} {{ item.userNom|e }} {{ item.userPrenom|e }} {{ item.userMail|e }}</b></p>
                    </div>

                    <div class="col-3">
                        <a href={{ url('validationcandidature', {'itemid': item.id, 'id':user.id}) }}>Valider la candidature</a>
                    </div>
                </div>
            {% endfor %}

        </div>
        
    </div>

{% endblock %}