{# templates/default/validationannonce.twig #}
{% extends 'utilisateur/consultant.twig' %}

{% block validation %}
    
    <div class="candidatureListBox row">
        <div>
            <h3>Liste des annonces à valider.</h3>

            {% for item in annonces %}
                <div class="row m-1 bg-info rounded">
                    <div class="col-9">
                        <p><b>{{ item.recruteurEmail|e }} {{ item.intitulé|e }} {{ item.nomEntreprise|e }}</b></p>
                    </div>

                    <div class="col-3">
                        <a href={{ url('annonce', {'itemid': item.id}) }}>Valider l'annonce</a>
                    </div>
                </div>
            {% endfor %}

        </div>
        
        <li><a href={{ url('backofficeConsultant') }}>Retour page précèdente</a></li>
    </div>

{% endblock %}